@font-face {
  font-family: 'IranSans';
  src: local('IranSans'),
    url(./assets/fonts/5c53f1a72f61b5b51e2ea79a22ebc38b.ttf) format('truetype');
}
* {
  font-family: 'IranSans';
}

html,
body {
  width: 100%;
}

/* @media only screen and (max-width: 576px) {
  .foodBoxStyle {
    justify-content: right !important;
  }
} */
.div {
  background-image: url(./assets/img/bac.jpg) !important;
  background-size: cover !important;
  object-fit: contain;
  background-repeat: repeat !important;

  filter: opacity(76%) brightness(50%);
}
.divInfo {
  background-image: url(./assets/img/infoback.png) !important;
  background-size: cover !important;
  object-fit: contain;

  background-repeat: repeat !important;
}

@media only screen and (max-width: 350px) {
  .fontSize {
    font-size: 8px !important;
  }
}

.slick-list {
  padding: 10px 0px !important;
}
.slick-list {
  text-align: -webkit-center !important;
}
.slick-prev {
  display: none !important;
}
.slick-next {
  display: none !important;
}
.date {
  border: 1px solid #c1b7b7;
  text-align: left;
  padding: 10px;
  width: 100%;
  height: 45px;
  outline: none;
  border-radius: 5px;
}
.login-btn {
  color: white !important;
  background-color: #20c900 !important;
  padding: 10px 20px !important;
  border-radius: 10px !important;
  border: none !important;
}

.login-btn:hover {
  border-color: #fff !important;
  transform: translate(0, -3px);
  transition: 0.9s;
}
.MuiOutlinedInput-root {
  width: 65% !important;
}
.activeCat {
  text-align: center;
  width: fit-content;
  box-shadow: rgb(0 0 0 / 50%) 0px 0px 24px -11px;
  padding: 15px 15px;
  background: white;
  border-radius: 5px;
  border: 1px solid #17a725;
  font-size: 10px;
}
.disActiveCat {
  text-align: center;
  width: fit-content;
  box-shadow: rgb(0 0 0 / 50%) 0px 0px 24px -11px;
  padding: 15px 15px;
  background: white;
  border-radius: 5px;
  font-size: 10px;
}
.wrapper {
  width: 150px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
}
.circle {
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 50%;
  background-color: gray;
  left: 15%;
  transform-origin: 50%;
  animation: circle 0.5s alternate infinite ease;
}

@keyframes circle {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}
.circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}
.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow 0.5s alternate infinite ease;
}

@keyframes shadow {
  0% {
    transform: scaleX(1.5);
  }
  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}
.shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}
.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
.date {
  text-align: end;
  font-weight: bolder;
  color: black !important;
}
.dateReq {
  text-align: end;
  font-weight: bolder;
  color: black !important;
  border: 1px solid #dc3545 !important;
}
.css-1s2u09g-control {
  border: 1px solid #c1b7b7 !important;
  border-radius: 5px !important;
  background-color: #fff !important;
  justify-content: space-between !important;
  height: 45px !important;
}
.selectReq {
  border: 1px solid #dc3545 !important;
  border-radius: 5px !important;
}
.spinner-border {
  display: inline-block !important;
  width: 1rem !important;
  height: 1rem !important;
  vertical-align: -0.125em !important;
  border: 0.25em solid currentColor !important;
  border-right-color: transparent !important;
  border-radius: 50% !important;
  -webkit-animation: 0.75s linear infinite spinner-border !important;
  animation: 0.75s linear infinite spinner-border !important;
}
.MuiPaper-elevation {
  border-radius: 30px 0px 0px 30px;
  border-left: 3px solid gold;
}
.css-1ee5err-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected {
  color: #5094bb !important;
}
.progress {
  height: 3px !important;
  margin-top: 4px !important;
}
.foodCm {
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 8px 12px;
  margin-left: 8px;
  margin-bottom: 8px;
  width: max-content;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: 2s;
}
.foodCm:hover {
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 8px 12px;
  margin-left: 8px;
  margin-bottom: 8px;
  width: max-content;
  white-space: nowrap;
  overflow: inherit;
  text-overflow: ellipsis;
  transition: 2s;
}
.infoImg {
  width: 100% !important;
  border-radius: 10px !important;
  height: 100% !important;
  object-fit: cover !important;
}
.PrivateTabIndicator-root-1 {
  display: none !important;
}
.PrivateTabIndicator-colorSecondary {
  display: none !important;
}
.MuiTabs-indicator {
  display: none !important;
}
.MuiTabPanel-root {
  padding: 0px !important;
}
.MuiTabs-flexContainer {
  justify-content: space-between !important;
}
.MuiTabs-fixed {
  padding-right: 10px !important;
  padding-left: 10px !important;
}
