@font-face {
  font-family: 'IranSans';
  src: local('IranSans'),
    url(./assets/fonts/5c53f1a72f61b5b51e2ea79a22ebc38b.ttf) format('truetype');
}
* {
  font-family: 'IranSans';
}

html,
body {
  width: 100%;
}

/* @media only screen and (max-width: 576px) {
  .foodBoxStyle {
    justify-content: right !important;
  }
} */
.div {
  background-image: url(./assets/img/bac.jpg) !important;
  background-size: cover !important;
  height: 820px;
  object-fit: contain;
  filter: opacity(76%) brightness(50%);
}
.divInfo {
  background-image: url(./assets/img/infoback.png) !important;
  background-size: cover !important;
  object-fit: contain;
  height: 820px;
}

.slick-list {
  padding: 10px 0px !important;
}
.slick-list {
  text-align: -webkit-center !important;
}
.slick-prev {
  display: none !important;
}
.slick-next {
  display: none !important;
}
.date {
  border: 1px solid #c1b7b7;
  text-align: left;
  padding: 10px;
  width: 100%;
  height: 45px;
  outline: none;
  border-radius: 5px;
}
.login-btn {
  color: white !important;
  background-color: #20c900 !important;
  padding: 10px 20px !important;
  border-radius: 10px !important;
  border: none !important;
}

.login-btn:hover {
  border-color: #fff !important;
  transform: translate(0, -3px);
  transition: 0.9s;
}
.MuiOutlinedInput-root {
  width: 65% !important;
}
.activeCat {
  text-align: center;
  width: fit-content;
  box-shadow: rgb(0 0 0 / 50%) 0px 0px 24px -11px;
  padding: 15px 15px;
  background: white;
  border-radius: 5px;
  border: 1px solid #17a725;
  font-size: 10px;
}
.disActiveCat {
  text-align: center;
  width: fit-content;
  box-shadow: rgb(0 0 0 / 50%) 0px 0px 24px -11px;
  padding: 15px 15px;
  background: white;
  border-radius: 5px;
  font-size: 10px;
}
.wrapper {
  width: 150px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
}
.circle {
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 50%;
  background-color: gray;
  left: 15%;
  transform-origin: 50%;
  animation: circle 0.5s alternate infinite ease;
}

@keyframes circle {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}
.circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}
.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow 0.5s alternate infinite ease;
}

@keyframes shadow {
  0% {
    transform: scaleX(1.5);
  }
  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}
.shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}
.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
